body {
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 29px !important;
    width: 100%;
    margin: 0;
}

button {
    font-size: 20px !important;
    width: 100px;
}

span {
    font-weight: bold;
    font-size: 19px !important;
}

#footer {
    text-align: center;
    font-size: 25px;
    color: #fff;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(173, 165, 165);
    padding: 10px;
}

canvas {
    border: coral;
    border-radius: 5px;
    box-shadow: 0 0 2px 5px grey;
    margin-top: 80px;
}

#button12:active, #button12:focus {
    border:1px solid blue !important;
}